.feature-carousel-component {
    background-color: #F2F4F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #2c2c2e;
    width: 100vw;
    height: 80vh;
}