.contact-us-component {
    width: 100vw;
    height: 70vh;
    background-color: #3c3c3c;
}

.info-components {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.contact-info-component {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 20vw;
    height: 50vh;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 20px;
}

.contact-info-email {
    margin-top: 20px;
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 15px;
}

.contact-info-customer-support {
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 15px;
}

.contact-info-collaborations {
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 15px;
}

.contact-info-about-us {
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 15px;
}

.contact-info-blog {
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 15px;
}

.contact-info-press {
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 15px;
}

.contact-info-outlet {
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 15px;
}

.up-to-date-component {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 20vw;
    height: 50vh;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    line-height: 20px;
}

.up-to-date-paragraph {
    margin-top: 20px;
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 15px;
}

.up-to-date-email {
    background-color: #3c3c3c;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 1px;
    width: 175px;
    height: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-width: thin;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

.up-to-date-subscribe {
    background-color: #6A6A6A;
    width: 100px;
    height: 30px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    border-style: none;
}