.contact-us-component {
    width: 100vw;
    height: 70vh;
    background-color: #3c3c3c;
}

.info-components {

}

.contact-info-component {
    width: 40vw;
    height: 40vh;
}

.up-to-date-component {

}