.from-the-blog-component {
    background-color: #f3f3f3;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
    h1 {
        margin-top: 45px;
        font-family: "Raleway", sans-serif;
        letter-spacing: 4px;
        font-size: 18px;
        margin-bottom: 60px;
        font-weight: 800;
    }
}

.blog-photos {
    height: 45vh;
    width: 100vw;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 45px;
}

.blurb-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 5px;
    .blurb-photo-one {
        height: 30vh;
        width: 30vw;
        background-color: #C2C4C5;
        margin-left: 10px;
    }
}

.blurb-two {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .blurb-photo-two {
        height: 30vh;
        width: 30vw;
        background-color: #C2C4C5;
        margin-left: 10px;
    }
}

.blurb-three {
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .blurb-photo-three {
        height: 30vh;
        width: 30vw;
        background-color: #C2C4C5;
        margin-left: 5px;
    }
}


.meet-name {
    margin-top: 15px;
    margin-bottom: 5px;
    letter-spacing: 3px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

.blurb-about {
    display: flex;
    justify-content: center;
    margin-inline-start: 5px;
    margin-top: 25px;
    letter-spacing: 2px;
    font-family: "Raleway", sans-serif;
    font-size: 8px;
}

.read-more {
    display: flex;
    justify-content: center;
    margin-inline-start: 5px;
    margin-top: 25px;
    letter-spacing: 2px;
    font-family: "Raleway", sans-serif;
    font-size: 8px;
}

.view-all-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 85px;
    background-color: #3c3c3c;
    border-style: none;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 45px;
}