.announcement-component {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6C8C0;
    width: 100vw;
    height: 5.3vh;
    font-family: 'Raleway', sans-serif;
    font-size: 7px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 2px;
}