.header-component {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b6b3b3;
    font-family:'Raleway', sans-serif;
    width: 100vw;
    height: 18vh;
}